body {
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
html{
    scroll-behavior: smooth;
}

body{
    padding-top: 90px;
    font-family: Arial, sans-serif;
}

#home{

    min-height: 100vh;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    background-image: url("images/background.jpg");

    background-size: cover;

    background-position: center;

    color: white;

    text-shadow: 2px 2px 10px black;
}

.card{
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}
/* =========================
   SECTION ANIMATION
========================= */

section{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 50px;
    margin: 30px auto;
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease;
}

section.show{

    opacity: 1;

    transform: translateY(0);
}


/* =========================
   NAVBAR ANIMATION
========================= */

.navbar{

    transition: 0.4s;
}

.nav-scrolled{

    background-color: black !important;

    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}


/* =========================
   TYPING EFFECT
========================= */

#typing{

    font-size: 24px;

    font-weight: bold;

    color: #007bff;
}
.profile-img{

    width: 180px;

    height: 180px;

    border-radius: 50%;

    object-fit: cover;

    border: 5px solid white;

    margin-bottom: 20px;

    box-shadow: 0 4px 20px rgba(0,0,0,0.5);

    transition: 0.4s;
}

.profile-img:hover{

    transform: scale(1.08);
}
#skills .card{
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
}
#projects .card{
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}
#skills,
#projects,
#contact{
    max-width: 1500px;
}

#home{
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 10px black;

    border-radius: 20px;
}
